<div>
    <h2 id="page-heading">
        <span jhiTranslate="smsPortalApp.groupMembers.home.title">Group Members</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-group-members" [routerLink]="['/group-members/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="smsPortalApp.groupMembers.home.createLabel">
            Create a new Group Members
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="groupMembers?.length === 0">
        <span jhiTranslate="smsPortalApp.groupMembers.home.notFound">No groupMembers found</span>
    </div>
    <div class="table-responsive" *ngIf="groupMembers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gourpId"><span jhiTranslate="smsPortalApp.groupMembers.gourpId">Gourp Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phone"><span jhiTranslate="smsPortalApp.groupMembers.phone">Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comId"><span jhiTranslate="smsPortalApp.groupMembers.comId">Com Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gourpmem.groupId"><span jhiTranslate="smsPortalApp.groupMembers.gourpmem">Gourpmem</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let groupMembers of groupMembers ;trackBy: trackId">
                <td><a [routerLink]="['/group-members', groupMembers.id, 'view' ]">{{groupMembers.id}}</a></td>
                <td>{{groupMembers.gourpId}}</td>
                <td>{{groupMembers.phone}}</td>
                <td>{{groupMembers.comId}}</td>
                <td>
                    <div *ngIf="groupMembers.gourpmem">
                        <a [routerLink]="['/groups', groupMembers.gourpmem?.id, 'view' ]" >{{groupMembers.gourpmem?.groupId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/group-members', groupMembers.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/group-members', groupMembers.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/group-members', { outlets: { popup: groupMembers.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="groupMembers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
