<div>
    <h2 id="page-heading">
        <span jhiTranslate="smsPortalApp.subUsers.home.title">Sub Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sub-users" [routerLink]="['/sub-users/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="smsPortalApp.subUsers.home.createLabel">
            Create a new Sub Users
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="subUsers?.length === 0">
        <span jhiTranslate="smsPortalApp.subUsers.home.notFound">No subUsers found</span>
    </div>
    <div class="table-responsive" *ngIf="subUsers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="username"><span jhiTranslate="smsPortalApp.subUsers.username">Username</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parentUserId"><span jhiTranslate="smsPortalApp.subUsers.parentUserId">Parent User Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isAuthrized"><span jhiTranslate="smsPortalApp.subUsers.isAuthrized">Is Authrized</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="subUserId"><span jhiTranslate="smsPortalApp.subUsers.subUserId">Sub User Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span jhiTranslate="smsPortalApp.subUsers.userId">User Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subUsers of subUsers ;trackBy: trackId">
                <ng-container *ngIf="!isAllowed(subUsers.parentUserId,Id)"> 
                <td><a [routerLink]="['/sub-users', subUsers.id, 'view' ]">{{subUsers.id}}</a></td>
                <td>{{subUsers.username}}</td>
                <td>{{subUsers.parentUserId}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="setActive(subUsers, true)"  *ngIf="!subUsers.isAuthrized"
                    [disabled]="subUsers.parentUserId ===  currentAccount.id"      jhiTranslate="smsPortalApp.subUsers.Notauthorized">Notauthorized</button>
                    <button class="btn btn-success btn-sm"  (click)="setActive(subUsers, false)" *ngIf="subUsers.isAuthrized"
                    [disabled]="subUsers.parentUserId ===  currentAccount.id"  jhiTranslate="smsPortalApp.subUsers.authorized">Authroized</button>
                </td>
                <td>{{subUsers.subUserId}}</td>
                <td>{{subUsers.userId}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/sub-users', subUsers.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sub-users', subUsers.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sub-users', subUsers.id, 'admin']"
                                class="btn btn-success btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.complete">complete</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sub-users', { outlets: { popup: subUsers.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
                </ng-container>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="subUsers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
