<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="balanceCheck">
            <h2><span jhiTranslate="smsPortalApp.balanceCheck.detail.title">Balance Check</span> {{balanceCheck.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="smsPortalApp.balanceCheck.user">User</span></dt>
                <dd>
                    <span>{{balanceCheck.user}}</span>
                </dd>
                <dt><span jhiTranslate="smsPortalApp.balanceCheck.subUser">Sub User</span></dt>
                <dd>
                    <span>{{balanceCheck.subUser}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/balance-check', balanceCheck.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
